.user-container {
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    border-radius: 64px;
    width: 85%;
    
    padding: 15px;
    margin: 15px;
}

.user-name-container {
    display: flex;

    padding: 15px;
    margin: -15px;

    background-color: #D32F2F;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 25%;
    border-radius: 64px;
}

.user-content {
    display: flex;
    flex-grow: 1;
    justify-content: right;
}

.user-name {
    display: flex;
}